{% extends "base.html" %}
{% block content %}
<div>
<h3>Enter CPF and INCOME Values</h3>
<form method="POST" action="{{ url_for('cards.create_card') }}">
    {{ form.csrf_token }}
    {{ form.cpf.label }}
    {{ form.cpf(size=15) }}
    <ul>
        {% for error in form.cpf.errors %}
            <li style="color:red;">{{ error }}</li>
        {% endfor %}
    </ul>
    {{ form.income.label }}
    {{ form.income(size=15) }}
    <ul>
        {% for error in form.income.errors %}
            <li style="color:red;">{{ error }}</li>
        {% endfor %}
    </ul>
    <input type="submit" value="Submit">
</form>
</div>
{% endblock %}